# Sistema operacional
.DS_Store
Thumbs.db

# Dependências
/vendor
/node_modules

# Arquivos de ambiente
.env
.env.testing
.env.local

# Cache e logs
/bootstrap/cache/
storage/*.key
storage/*.log
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
storage/logs/

# Arquivos de compilação
/public/hot
/public/storage
/public/mix-manifest.json
/public/js/*.map
/public/css/*.map
/public/build
/resources/assets/js/*.map
/resources/assets/sass/*.map

# IDEs e ferramentas de desenvolvimento
.vscode/
.idea/
*.sublime-workspace

# Arquivos do Composer e NPM
composer.lock
yarn.lock
pnpm-lock.yaml
npm-debug.log
yarn-error.log
node_modules/

# Testes e cobertura de código
/phpunit.xml
/phpunit.xml.cache
/tests/_output/
/tests/_support/_generated/

# Configurações específicas de CI/CD
/.github/
docker-compose.override.yml
.env.dusk.local
Homestead.yaml
Homestead.json
vagrant/
